.container {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}

.title {
  font-size: 18px;
  background: #cccccc;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 5px;
}

.text {
  font-size: 12px;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  line-height: 18px;
}

.warningText {
  font-size: 18px;
  color: #990000;
  font-weight: 700;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  line-height: 24px;
}
